<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FEED
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="feed">
    <ion-item class="postagem-3">
      <div class="post">
        <div class="linha-de-divis-o"></div>
        <ion-img class="doando-1" src="assets/doando-10.png"></ion-img>
        <div class="barra-de-c">
          <div class="barra-de-assunto"></div>
          <div class="titulo-not-cia">
            Doar sangue é um gesto que salva vidas. Seja a inspiração de alguém hoje e doe também!
          </div>
        </div>
        <ion-icon class="icone" name="heart" color="danger"></ion-icon>
      </div>
      <div class="barra-de-rea-es-e-mais">
        <ion-img class="mais" src="assets/mais0.png"></ion-img>
        <div class="amei">
          <ion-img class="heart-2-1" src="assets/heart-2-10.png"></ion-img>
          <div class="ellipse-4"></div>
          <div class="_1">1</div>
        </div>
        <div class="uau">
          <ion-img class="suprised-1-1" src="assets/suprised-1-10.png"></ion-img>
          <div class="ellipse-42"></div>
          <div class="_4">4</div>
        </div>
        <div class="amei2">
          <ion-img class="in-love-1" src="assets/in-love-10.png"></ion-img>
          <div class="ellipse-43"></div>
          <div class="_13">13</div>
        </div>
      </div>
    </ion-item>
    <ion-item class="menu">
      <div class="rectangle-1497"></div>
      <ion-icon class="icon-gota-de-sangue" name="water-outline" color="danger"></ion-icon>
      <ion-icon class="icon-perfil" name="person-circle-outline" color="danger"></ion-icon>
    </ion-item>
    <ion-icon
  class="icon-artigo"
  style="width: 36px; height: 35px;"
  name="logo-facebook"
></ion-icon>
<ion-icon
  class="icon-feed"
  style="width: 41px; height: 31px;"
  name="logo-instagram"
></ion-icon>
<ion-icon
  class="icon-recompensa"
  style="width: 38px; height: 33px;"
  name="logo-twitter"
></ion-icon>
  </ion-list>
</ion-content>
